[submodule "tb/core/riscv-arch-test"]
	path = tb/core/riscv-arch-test
	url = git@github.com:riscv-non-isa/riscv-arch-test.git
[submodule "tb/core/riscv-tests"]
	path = tb/core/riscv-tests
	url = git@github.com:riscv-software-src/riscv-tests.git
